@import url("assets/fonts/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

h1 {
  color: black;
  font-size: 26px;
  font-weight: 600;
}

h2 {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

h3 {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

h4 {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
}

p {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
p.small {
  font-size: 12px;
}
p.small strong {
  font-weight: 600;
  font-size: 20px;
}
p.small span {
  font-size: 12px;
}
p strong {
  font-weight: 600;
  font-size: 20px;
}
p.pad-bot {
  margin-bottom: 20px;
}

a {
  color: #757575;
}

span.prolific {
  font-weight: 600;
}

button.btn {
  width: 100%;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: #EAEAEA;
  color: #757575;
  cursor: pointer;
}
button.btn:active {
  outline: 4px solid rgba(234, 234, 234, 0.4);
}
button.btn-primary {
  background-color: #4CD27A;
  color: white;
}
button.btn-primary:active {
  outline: 4px solid rgba(76, 210, 122, 0.25);
}
button.back-link {
  margin-bottom: 25px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  display: none;
}

#entry_overlay {
  width: 100%;
  height: 100%;
  background-color: #101010;
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  top: 0;
  left: 0;
}
#entry_overlay .loading_animation {
  border: 6px solid rgba(255, 255, 255, 0.15);
  border-top: 6px solid #4CD27A;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#leave_warning {
  position: absolute;
  z-index: 900;
  margin: 0 12px;
  background-color: #ea2c52;
  color: white;
  padding: 12px;
  bottom: 42px;
  border-radius: 6px;
  box-shadow: 0 0 25px rgba(16, 16, 16, 0.5);
  width: calc(100% - 48px);
  border: 1px solid white;
}
#leave_warning .content {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
#leave_warning .content svg {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}
#leave_warning .content p {
  display: inline-block;
  color: white;
  font-weight: 500;
  line-height: 1.25;
}
#leave_warning .content p span {
  text-decoration: underline;
}
#leave_warning .content div {
  font-size: 24px;
  margin-top: -14px;
  margin-right: -6px;
  padding: 6px;
}

body#page, body#register, body#login, body#overview, body#error, body#imprint {
  background-color: white;
  color: black;
}
body#page header, body#register header, body#login header, body#overview header, body#error header, body#imprint header {
  height: 100px;
}
body#page main, body#register main, body#login main, body#overview main, body#error main, body#imprint main {
  padding: 20px;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
body#page main .loading_animation, body#register main .loading_animation, body#login main .loading_animation, body#overview main .loading_animation, body#error main .loading_animation, body#imprint main .loading_animation {
  border: 6px solid rgba(230, 230, 230, 0.4);
  border-top: 6px solid #4CD27A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  margin-bottom: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body#page main h1, body#register main h1, body#login main h1, body#overview main h1, body#error main h1, body#imprint main h1 {
  margin-bottom: 20px;
}
body#page main .frame, body#register main .frame, body#login main .frame, body#overview main .frame, body#error main .frame, body#imprint main .frame {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #F6F6F6;
  padding: 20px;
  border-radius: 16px;
}
body#page main .frame h2, body#register main .frame h2, body#login main .frame h2, body#overview main .frame h2, body#error main .frame h2, body#imprint main .frame h2 {
  margin-bottom: 15px;
}
body#page main .frame .steps, body#register main .frame .steps, body#login main .frame .steps, body#overview main .frame .steps, body#error main .frame .steps, body#imprint main .frame .steps {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
body#page main .frame .steps .step, body#register main .frame .steps .step, body#login main .frame .steps .step, body#overview main .frame .steps .step, body#error main .frame .steps .step, body#imprint main .frame .steps .step {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
  position: relative;
}
body#page main .frame .steps .step .number-wrapper, body#register main .frame .steps .step .number-wrapper, body#login main .frame .steps .step .number-wrapper, body#overview main .frame .steps .step .number-wrapper, body#error main .frame .steps .step .number-wrapper, body#imprint main .frame .steps .step .number-wrapper {
  flex-shrink: 0;
}
body#page main .frame .steps .step .number-wrapper .number, body#register main .frame .steps .step .number-wrapper .number, body#login main .frame .steps .step .number-wrapper .number, body#overview main .frame .steps .step .number-wrapper .number, body#error main .frame .steps .step .number-wrapper .number, body#imprint main .frame .steps .step .number-wrapper .number {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #C8C8C8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}
body#page main .frame .steps .step .content, body#register main .frame .steps .step .content, body#login main .frame .steps .step .content, body#overview main .frame .steps .step .content, body#error main .frame .steps .step .content, body#imprint main .frame .steps .step .content {
  padding-top: 6px;
}
body#page main .frame .steps .step .content h3, body#register main .frame .steps .step .content h3, body#login main .frame .steps .step .content h3, body#overview main .frame .steps .step .content h3, body#error main .frame .steps .step .content h3, body#imprint main .frame .steps .step .content h3 {
  margin-bottom: 5px;
}
body#page main .frame .steps .step .number-line, body#register main .frame .steps .step .number-line, body#login main .frame .steps .step .number-line, body#overview main .frame .steps .step .number-line, body#error main .frame .steps .step .number-line, body#imprint main .frame .steps .step .number-line {
  position: absolute;
  border: 2px solid #C8C8C8;
  height: calc(100% - 34px);
  border-radius: 100px;
  top: 35px;
  left: 12px;
}
body#page main .frame .steps.highlines, body#register main .frame .steps.highlines, body#login main .frame .steps.highlines, body#overview main .frame .steps.highlines, body#error main .frame .steps.highlines, body#imprint main .frame .steps.highlines {
  row-gap: 18px;
}
body#page main .frame.nospace, body#register main .frame.nospace, body#login main .frame.nospace, body#overview main .frame.nospace, body#error main .frame.nospace, body#imprint main .frame.nospace {
  margin: 0;
}
body#page main .frame.halfspace, body#register main .frame.halfspace, body#login main .frame.halfspace, body#overview main .frame.halfspace, body#error main .frame.halfspace, body#imprint main .frame.halfspace {
  margin-top: 20px;
}
body#page main #notification_frame, body#register main #notification_frame, body#login main #notification_frame, body#overview main #notification_frame, body#error main #notification_frame, body#imprint main #notification_frame {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body#page main .collection, body#register main .collection, body#login main .collection, body#overview main .collection, body#error main .collection, body#imprint main .collection {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
body#page main h3.prolific-bonus, body#register main h3.prolific-bonus, body#login main h3.prolific-bonus, body#overview main h3.prolific-bonus, body#error main h3.prolific-bonus, body#imprint main h3.prolific-bonus {
  color: #101010;
  margin-bottom: 10px;
}
body#page main h3.prolific-bonus a, body#register main h3.prolific-bonus a, body#login main h3.prolific-bonus a, body#overview main h3.prolific-bonus a, body#error main h3.prolific-bonus a, body#imprint main h3.prolific-bonus a {
  color: #101010;
}
body#page main .text-button p, body#register main .text-button p, body#login main .text-button p, body#overview main .text-button p, body#error main .text-button p, body#imprint main .text-button p {
  margin-bottom: 10px;
}
body#page main .text-button .homescreen-preview, body#register main .text-button .homescreen-preview, body#login main .text-button .homescreen-preview, body#overview main .text-button .homescreen-preview, body#error main .text-button .homescreen-preview, body#imprint main .text-button .homescreen-preview {
  width: 100%;
  margin-top: 20px;
}
body#page main .text-button#install-prompting svg, body#register main .text-button#install-prompting svg, body#login main .text-button#install-prompting svg, body#overview main .text-button#install-prompting svg, body#error main .text-button#install-prompting svg, body#imprint main .text-button#install-prompting svg {
  width: 24px;
  height: auto;
  color: #007aff;
  vertical-align: bottom;
}
body#page main .text-button#install-prompting span, body#register main .text-button#install-prompting span, body#login main .text-button#install-prompting span, body#overview main .text-button#install-prompting span, body#error main .text-button#install-prompting span, body#imprint main .text-button#install-prompting span {
  color: #007aff;
  font-weight: 500;
}
body#page main .text-button#install-prompting table, body#register main .text-button#install-prompting table, body#login main .text-button#install-prompting table, body#overview main .text-button#install-prompting table, body#error main .text-button#install-prompting table, body#imprint main .text-button#install-prompting table {
  margin-top: 15px;
}
body#page main .icon-text, body#register main .icon-text, body#login main .icon-text, body#overview main .icon-text, body#error main .icon-text, body#imprint main .icon-text {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
body#page main .icon-text .icon, body#register main .icon-text .icon, body#login main .icon-text .icon, body#overview main .icon-text .icon, body#error main .icon-text .icon, body#imprint main .icon-text .icon {
  flex-shrink: 0;
  color: #757575;
}
body#page main .icon-text .icon svg, body#register main .icon-text .icon svg, body#login main .icon-text .icon svg, body#overview main .icon-text .icon svg, body#error main .icon-text .icon svg, body#imprint main .icon-text .icon svg {
  width: 25px;
  height: auto;
}
body#page main .icon-text .content h4, body#register main .icon-text .content h4, body#login main .icon-text .content h4, body#overview main .icon-text .content h4, body#error main .icon-text .content h4, body#imprint main .icon-text .content h4 {
  margin-bottom: 5px;
}
body#page main .form-row, body#register main .form-row, body#login main .form-row, body#overview main .form-row, body#error main .form-row, body#imprint main .form-row {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}
body#page main .form-row label, body#register main .form-row label, body#login main .form-row label, body#overview main .form-row label, body#error main .form-row label, body#imprint main .form-row label {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
body#page main .form-row input, body#register main .form-row input, body#login main .form-row input, body#overview main .form-row input, body#error main .form-row input, body#imprint main .form-row input {
  width: 100%;
  box-sizing: border-box;
  color: #757575;
  border-radius: 8px;
  border: 1px solid #E2E2E2;
  padding: 9px 14px;
  font-size: 16px;
  font-weight: 400;
}
body#page main .form-row.hidden, body#register main .form-row.hidden, body#login main .form-row.hidden, body#overview main .form-row.hidden, body#error main .form-row.hidden, body#imprint main .form-row.hidden {
  display: none;
}
body#page main .form-row-h, body#register main .form-row-h, body#login main .form-row-h, body#overview main .form-row-h, body#error main .form-row-h, body#imprint main .form-row-h {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
body#page main .form-row-h label, body#register main .form-row-h label, body#login main .form-row-h label, body#overview main .form-row-h label, body#error main .form-row-h label, body#imprint main .form-row-h label {
  color: #757575;
  padding-top: 2px;
}
body#page main .form-row-h input, body#register main .form-row-h input, body#login main .form-row-h input, body#overview main .form-row-h input, body#error main .form-row-h input, body#imprint main .form-row-h input {
  width: 20px;
  height: 20px;
  border: 1px solid #E2E2E2;
  flex-shrink: 0;
  border-radius: 8px;
}
body#page main table td:first-child, body#register main table td:first-child, body#login main table td:first-child, body#overview main table td:first-child, body#error main table td:first-child, body#imprint main table td:first-child {
  padding-right: 8px;
}
body#page main table tr:not(:last-child) td, body#register main table tr:not(:last-child) td, body#login main table tr:not(:last-child) td, body#overview main table tr:not(:last-child) td, body#error main table tr:not(:last-child) td, body#imprint main table tr:not(:last-child) td {
  padding-bottom: 8px;
}
body#page footer, body#register footer, body#login footer, body#overview footer, body#error footer, body#imprint footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  font-size: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #757575;
}
body#page footer a, body#register footer a, body#login footer a, body#overview footer a, body#error footer a, body#imprint footer a {
  font-size: 12px;
}

body#app {
  display: flex;
  background-color: black;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  flex-direction: column;
  overflow: hidden;
}
body#app .check-output {
  min-width: 100%;
  display: block;
}
body#app header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  pointer-events: none;
}
body#app header .header_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
body#app header .header_buttons a {
  text-decoration: none;
  color: white;
  pointer-events: auto;
}
body#app header .header_buttons a .header_element {
  opacity: 0.7;
  display: flex;
}
body#app header .header_buttons a .header_element p {
  font-size: 16px;
  font-weight: 600;
}
body#app header .header_buttons a .header_element svg {
  width: 30px;
  height: 30px;
}
body#app header .header_buttons a .header_element.active {
  opacity: 1;
}
body#app header .header_buttons a.header_search {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
body#app #app_nav {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 40px;
  box-sizing: border-box;
  display: none;
}
body#app #app_nav .close-btn {
  position: absolute;
  display: block;
  color: #101010;
  width: 40px;
  height: 40px;
  top: 40px;
  right: 40px;
}
body#app #app_nav .close-btn a {
  color: #101010;
  display: flex;
}
body#app #app_nav h2 {
  margin-top: 100px;
  margin-bottom: 20px;
}
body#app #app_nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body#app #app_nav ul li {
  padding: 5px 0px;
  font-size: 18px;
  color: #101010;
  list-style: none;
}
body#app #pause_alert {
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  display: none;
}
body#app #pause_alert .container {
  background-color: #101010;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  text-align: center;
}
body#app #pause_alert .container h2 {
  color: white;
}
body#app #pause_alert .container p {
  color: white;
  margin-bottom: 4px;
}
body#app .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body#app .search {
  overflow: hidden;
  position: fixed;
  top: 50px;
  right: 20px;
}
body#app .live {
  overflow: hidden;
  position: fixed;
  top: 50px;
  left: 20px;
}
body#app .stoppop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background-color: #101010;
  align-items: center;
}
body#app .stoppop p {
  margin-top: 30vh;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}
body#app .stoppop button {
  width: 100%;
  border-radius: 6px;
  height: 50px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: #4CD27A;
  color: white;
  cursor: pointer;
}
body#app .stoppop button:active {
  outline: 4px solid rgba(234, 234, 234, 0.4);
}
body#app .foryou {
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 50px;
}
body#app .foryou p {
  font-family: "TikTok Sans", sans-serif;
  text-shadow: 0 0 10px rgba(16, 16, 16, 0.9);
  color: white;
  font-size: 14px;
  font-weight: 1000;
}
body#app .foryou u {
  font-family: "TikTok Sans", sans-serif;
  text-shadow: 0 0 10px rgba(16, 16, 16, 0.9);
  color: white;
  font-size: 14px;
  font-weight: 1000;
}
body#app .navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body#app .navbar a:hover {
  background: #ddd;
  color: black;
}

#amd_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
  display: none;
  --blur_intensity: 0px;
  --blur_size: 0%;
  backdrop-filter: blur(var(--blur_intensity));
  -webkit-mask-image: radial-gradient(ellipse var(--blur_size) var(--blur_size) at 50% 50%, black 35%, transparent 50%);
  mask-image: radial-gradient(ellipse var(--blur_size) var(--blur_size) at 50% 50%, black 35%, transparent 50%);
}

#cataract_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
  display: none;
  --desaturate_intensity: 100%;
  --contrast_intensity: 100%;
  backdrop-filter: saturate(var(--desaturate_intensity)) contrast(var(--contrast_intensity));
}

#dr_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}
#dr_overlay .organism_cell {
  position: absolute;
  width: 0px;
  height: 0px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, black 50%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 100%;
  transition: all 1s;
  filter: blur(4px);
}

#glaucoma_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
  display: none;
  --glaucoma_intensity1: 100%;
  --glaucoma_intensity2: 90%;
  --glaucoma_opacity: 0%;
  opacity: var(--glaucoma_opacity);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) var(--glaucoma_intensity2), rgba(0, 0, 0, 0.97) var(--glaucoma_intensity1));
}

#video_container {
  height: 100vh;
  height: 100dvh;
  aspect-ratio: 9/16;
  margin-inline: auto;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#video_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
#video_container .video_wrapper {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video_container .video_wrapper .player {
  height: 94%;
  display: flex;
}
#video_container .video_wrapper .player iframe {
  width: 100%;
  height: calc(100% + 120px);
}
#video_container .video_wrapper .player iframe .ytp-title-link, #video_container .video_wrapper .player iframe .ytp-chrome-top, #video_container .video_wrapper .player iframe .ytp-show-cards-title {
  display: none !important;
}
#video_container .video_wrapper .player iframe video {
  height: 100%;
  width: auto;
}
#video_container .video_wrapper .player .ytp-title-link, #video_container .video_wrapper .player .ytp-chrome-top, #video_container .video_wrapper .player .ytp-show-cards-title {
  display: none !important;
}
#video_container .video_wrapper .player video {
  height: auto;
  width: 100vw;
}
#video_container .video_wrapper.activate_noise .noise_overlay {
  display: initial;
}
#video_container .video_wrapper .noise_overlay {
  width: 500%;
  height: 500%;
  top: 0;
  left: 0;
  z-index: 99;
  position: absolute;
  background-image: url("./assets/img/noise.png");
  mix-blend-mode: multiply;
  animation: grain 4s steps(10) infinite;
  display: none;
  opacity: 0;
  pointer-events: none;
}
@keyframes grain {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 30% 30%;
  }
  20% {
    background-position: 60% 60%;
  }
  30% {
    background-position: 20% 20%;
  }
  40% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 10% 10%;
  }
  60% {
    background-position: 70% 70%;
  }
  70% {
    background-position: 40% 40%;
  }
  80% {
    background-position: 80% 80%;
  }
  90% {
    background-position: 30% 30%;
  }
  100% {
    background-position: 60% 60%;
  }
}
#video_container .video_wrapper .ai_overlay {
  width: 103vw;
  height: 100%;
  top: 0px;
  left: 0;
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-between;
  column-gap: 35px;
  pointer-events: none;
}
#video_container .video_wrapper .ai_overlay a.ailabel p.ailabel {
  font-family: "TikTok Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 4px;
  margin-bottom: 62px;
}
#video_container .video_wrapper .button_overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-between;
  column-gap: 35px;
  pointer-events: none;
}
#video_container .video_wrapper .button_overlay .button_array {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
  justify-content: end;
  align-items: end;
  margin-bottom: 150px;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  align-items: center;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a {
  text-decoration: none;
  pointer-events: auto;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  align-items: center;
  justify-content: center;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main svg {
  width: 28px;
  height: auto;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main p {
  color: white;
  font-size: 13px;
  font-weight: 600;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_profile {
  width: 40px;
  height: 40px;
  background-color: #008799;
  border: 1px solid white;
  border-radius: 100px;
  margin-bottom: 10px;
  box-shadow: 0 0 25px rgba(16, 16, 16, 0.5);
  pointer-events: none;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_profile::after {
  color: white;
  font-weight: 600;
  content: "+";
  padding: 0 0 0 5px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #ea2c52;
  border-radius: 100px;
  margin-top: 36px;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_audio {
  width: 28px;
  height: 28px;
  background-color: #00996b;
  border: 5px solid #383838;
  border-radius: 100px;
  margin-bottom: 5px;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_like svg path {
  box-shadow: 0 0 25px rgba(16, 16, 16, 0.5);
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_like p {
  text-shadow: 0 0 25px rgba(16, 16, 16, 0.5);
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_like {
  pointer-events: none;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_comment svg path, #video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main .button_share svg path, #video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main .button_save svg path {
  box-shadow: 0 0 25px rgba(16, 16, 16, 0.5);
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_comment p, #video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main .button_share p, #video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main .button_save p {
  text-shadow: 0 0 25px rgba(16, 16, 16, 0.5);
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main.button_comment, #video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main .button_share, #video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_main .button_save {
  pointer-events: none;
}
#video_container .video_wrapper .button_overlay .button_array .button_wrapper a .button_profile::after {
  display: none !important;
}
#video_container .video_wrapper .button_overlay .description_overlay {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-left: -4px;
}
#video_container .video_wrapper .button_overlay .description_overlay a.username {
  text-decoration: none;
  color: white;
}
#video_container .video_wrapper .button_overlay .description_overlay a.username p.video_author {
  font-family: "TikTok Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(16, 16, 16, 0.9);
  color: white;
  padding: 4px;
  margin-bottom: -3px;
}
#video_container .video_wrapper .button_overlay .description_overlay p.video_description {
  font-family: "TikTok Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-shadow: 0 0 10px rgba(16, 16, 16, 0.9);
  color: white;
  padding: 4px 4px 0 4px;
}
#video_container .video_wrapper .button_overlay .button_array_ende {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin: auto;
}
#video_container .video_wrapper .button_overlay .button_array_ende .button_wrapper_ende {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  align-items: center;
}
#video_container .video_wrapper .button_overlay .button_array_ende .button_wrapper_ende a {
  text-decoration: none;
  pointer-events: auto;
}
#video_container .video_wrapper .button_overlay .button_array_ende .button_wrapper_ende a .button_ende {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  padding: 20px 1px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #4CD27A;
  color: white;
}
#video_container .video_wrapper .grid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 43% 14% 43%;
  grid-template-columns: 35% 30% 35%;
  pointer-events: none;
}
#video_container .video_wrapper .grid div {
  pointer-events: auto;
}
#debug_control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 60px;
  margin-left: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  z-index: 100;
  display: none;
}
#debug_control * {
  color: #101010;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: #101010;
  z-index: 101;
  display: none;
}
footer .footer_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-inline: 26px;
  z-index: 101;
}
footer .footer_menu a {
  color: white;
  text-decoration: none;
  height: 100%;
}
footer .footer_menu a .footer_element {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer_menu a .footer_element p {
  font-size: 10px;
  color: #cacaca;
}
footer .footer_menu a .footer_element.active p {
  color: white;
}

main.paragraph h2 {
  margin-bottom: 15px;
}
main.paragraph h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
main.paragraph h4 {
  margin-bottom: 10px;
}
main.paragraph p {
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  body #video_container {
    aspect-ratio: auto;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
